<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>order_center</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<script src="{{static_host}}/js/lodash.min.js" type="text/javascript"></script>
<style type="text/css">

</style>
</head>
<body>
	<div>
	  查询订单号：
	  <input type="text" name="" value="" id="search_order">
	</div>
	<div>
		<input class="find_all" type="button" value="查询所有订单"/>
	</div>
	<div>
		<input class="find_today" type="button" value="查询当日订单"/>
	</div>
	<div>
		<input class="find_day1" type="date"/>
		<input class="find_day2" type="date"/>
		<input class="search_day" type="button" value="查询"/>
	</div>
	<div style="width:100%;" id="all_orders"></div>
	<div id="order_table"></div>
	<script id="all_orders_infos" type="text/template">
		<% _.forEach(orders, function(order,index) { %>
			<div class="click_order_info" data-id="<%- order.order_id %>">
				<span>日期：<%- order.order_date_text %></span>
				<span>订单号：<%- order.order_id %></span>
				<span>订单人：<%- order.person_id %></span>
				<span>可获积分：<%- order.gain_point %></span>
				<span>门店：<%- order.store_id %></span>
				<span>实付：<%- order.actual_price %></span>
				<span>找零：<%- order.changes %></span>
				<span>抹零：<%- order.small_change %></span>
				<span>状态：<%- order.order_status %></span>
			</div>
			<div>-------------------------------------------------------</div>
		<% }); %>
	</script>
	<script id="order_table_infos" type="text/template">
		<% _.forEach(order_infos.order_details, function(order_detail,index) { %>
			<div>
				<%- index+1 %>
				<% if (order_detail.product.img) { %>
						<img src="{{image_host}}/images/<%- order_detail.product.img.location %>" alt="" width="30px" />
				<% } %>
				<span>商品：<%- order_detail.product.product_name %></span>
				<span>数量：<%- order_detail.number %></span>
				<span>折扣：<%- order_detail.discount %></span>
				<span>价格：<%- order_detail.price %></span>
				<span>重量：<%- order_detail.weight %></span>
				<span>编码：<%- order_detail.code %></span>
			</div>
		<% }); %>

		<% _.forEach(order_infos.pay_infos, function(pay_info,index) { %>
			<div>
				<%- index+1 %>
				<span>付款方式：<%- pay_info.pay_way %></span>
				<span>流水号：<%- pay_info.fin_occurrence_log_id %></span>
				<span>金额：<%- pay_info.pay_amount %></span>
			</div>
		<% }); %>
	</script>
	<script>
	$(function(){
		var orders = [];
		var order_infos ={
			"order_details" : null,
			"pay_infos" : null
		};
		//get方法
		var do_get_method = function(url,params,cb){
			$.get(url,params,function(data){
				if (data.success) {
					cb(data);
				}else {
					alert(data.message);
					return;
				}
			});
		};
		//查询订单详细
		var get_order_details = function(order_id){
			do_get_method("/get_order_details",{"order_id":order_id},function(data){
				if (data.success) {
					order_infos.order_details = data.order_details;
					order_infos.pay_infos = data.pay_infos;
					var t = _.template($("#order_table_infos").html());
					$("#order_table").html(t({order_infos:order_infos}));
					$("#order_infos").removeAttr("style");
				}else {
					alert(data.message);
				}
			});
		};
		var search_order_info = function(order_id){
			do_get_method("/search_order_info",{"order_id":order_id},function(data){
				if (data.success) {
					orders = data.row;
					var t = _.template($("#all_orders_infos").html());
					$("#all_orders").html(t({orders:orders}));
					$("#orders").removeAttr("style");
					$(".click_order_info").click(function(){
						var order_id = $(this).data("id");
						get_order_details(order_id);
					});
				}else {
					alert(data.message);
				}
			});
		};
		//订单号查询
		$("#search_order").keypress(function(e){
			var search_order = $("#search_order").val();
			var key = e.which;
			if (!search_order || key != 13) {
				return;
			}
			search_order_info(search_order);
		});
		//查询所有订单
		$(".find_all").click(function(){
			$.get("/get_all_orders",function(data){
				if (data.success) {
					orders = data.rows;
					var t = _.template($("#all_orders_infos").html());
					$("#all_orders").html(t({orders:orders}));
					$("#orders").removeAttr("style");
					$(".click_order_info").click(function(){
						var order_id = $(this).data("id");
						get_order_details(order_id);
					});
				}else {
					alert(data.message);
				}
			});
		});
		//查询今天订单
		$(".find_today").click(function(){
			var date1 = new Date();
			var date2 = new Date(date1.valueOf() + 1*24*60*60*1000);
			date1 = getNowFormatDate(date1);
			date2 = getNowFormatDate(date2);
			search_order_byDate(date1,date2);
		});
		//根据日期查询订单
		var search_order_byDate = function(data1,data2){
			do_get_method("/get_orders_byDate",{date1:data1,date2:data2},function(data){
				orders = data.rows;
				var t = _.template($("#all_orders_infos").html());
				$("#all_orders").html(t({orders:orders}));
				$("#orders").removeAttr("style");
				$(".click_order_info").click(function(){
					var order_id = $(this).data("id");
					get_order_details(order_id);
				});
			});
		};
		//查询指定日期订单
		$(".search_day").click(function(){
			var find_day1 = $(".find_day1").val();
			var find_day2 = $(".find_day2").val();
			search_order_byDate(find_day1,find_day2);
		});
		//日期格式方法
		var getNowFormatDate = function(day){
			var Year = 0;
			var Month = 0;
			var Day = 0;
			var CurrentDate = "";
			//初始化时间
			//Year= day.getYear();//有火狐下2008年显示108的bug
			Year = day.getFullYear();//ie火狐下都可以
			Month = day.getMonth()+1;
			Day = day.getDate();
			//Hour = day.getHours();
			// Minute = day.getMinutes();
			// Second = day.getSeconds();
			CurrentDate += Year + "-";
			if (Month >= 10 ){
				CurrentDate += Month + "-";
			}
			else{
				CurrentDate += "0" + Month + "-";
			}
			if (Day >= 10 ){
				CurrentDate += Day ;
			}
			else{
				CurrentDate += "0" + Day ;
			}
			return CurrentDate;
		};
	});
	</script>
</body>
</html>
