<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>menu</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<script src="js/lodash.min.js" type="text/javascript"></script>
<style type="text/css">
	.weui_mask{
		position: fixed;
		z-index: 10;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
	}
	.weui_dialog{
		position: fixed;
		z-index: 13;
		width: 540px;
		height: 500px;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: #FAFAFC;
		border-radius: 3px;
		overflow: hidden;
	}
</style>
</head>
<body>
	<div>
	  查询商品id：
	  <input type="text" name="" value="" id="search_product">
	</div>
	<div>
		<input class="find_all" type="button" value="查询所有商品"/>
	</div>
	<div style="width:100%;" id="all_orders"></div>
	<div id="order_table"></div>
	<script id="all_orders_infos" type="text/template">
		<% _.forEach(products, function(product,index) { %>
			<div class="click_order_info" data-id="<%- product.id %>">
				<span>id：<%- product.id %></span>
				<span>名称：<%- product.product_name %></span>
				<span>售价：<%- product.product_sale_price %></span>
				<span>市场价：<%- product.product_marketing_price %></span>
				<span>重量：<%- product.weight %></span>
				<span>编码：<%- product.code %></span>
				<span>成色：<%- product.is_new %></span>
				<span>材质：<%- product.row_materials %></span>
				<span>尺寸：<%- product.size_name %></span>
				<span>批次：<%- product.batch_code %></span>
			</div>
			<div>-------------------------------------------------------</div>
		<% }); %>
	</script>
	<script id="order_table_infos" type="text/template">
		<% _.forEach(properties, function(property,index) { %>
			<%- index+1 %>
			<span><%- property.name %>：<%- property.value %></span>
		<% }); %>

		<% _.forEach(pictures, function(picture,index) { %>
			<div>
				<%- index+1 %>
				<img src="{{image_host}}/images/<%- picture.location %>" alt="" width="30px" />
			</div>
		<% }); %>
	</script>
	<script>
	$(function(){
		var products = [];
		var pictures = [];
		var properties = [];
		//get方法
		var do_get_method = function(url,params,cb){
			$.get(url,params,function(data){
				if (data.success) {
					cb(data);
				}else {
					alert(data.message);
					return;
				}
			});
		};
		//查询商品详细
		var search_product_detail = function(product_id){
			do_get_method("/search_product_detail",{"product_id":product_id},function(data){
				if (data.success) {
					pictures = data.pictures;
					properties = data.properties;
					var t = _.template($("#order_table_infos").html());
					$("#order_table").html(t({pictures:pictures,properties:properties}));
					$("#order_infos").removeAttr("style");
				}else {
					alert(data.message);
				}
			});
		};
		var search_product_info = function(product_id){
			do_get_method("/search_product_info",{"product_id":product_id},function(data){
				if (data.success) {
					products = data.products;
					var t = _.template($("#all_orders_infos").html());
					$("#all_orders").html(t({products:products}));
					$("#orders").removeAttr("style");
					$(".click_order_info").click(function(){
						var product_id = $(this).data("id");
						search_product_detail(product_id);
					});
				}else {
					alert(data.message);
				}
			});
		};
		//id号查询
		$("#search_product").keypress(function(e){
			var search_product = $("#search_product").val();
			var key = e.which;
			if (!search_product || key != 13) {
				return;
			}
			search_product_info(search_product);
		});
		//查询商品列表
		$(".find_all").click(function(){
			$.get("/get_products_list",function(data){
				if (data.success) {
					products = data.products;
					var t = _.template($("#all_orders_infos").html());
					$("#all_orders").html(t({products:products}));
					$("#orders").removeAttr("style");
					$(".click_order_info").click(function(){
						var product_id = $(this).data("id");
						search_product_detail(product_id);
					});
				}else {
					alert(data.message);
				}
			});
		});
	});
	</script>
</body>
</html>
